body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 !important;
    padding: 4%;
    border: solid 1px rgb(235, 235, 235);
    border-radius: .25em;
    box-shadow: rgb(235, 235, 235) 0px 0px 5px;
}

.esqueci-links a {
    color: black;
}

.criar-login-text a {
    color: rgb(13, 202, 240);
}